body, html, *{
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: rgba(250, 216, 216,);
  overflow-x: hidden
}
.header{
	width: 100%;
	height: 300px;
	background-position: center center;
	background-image: url("image\\motorbike mechanic shopr.jpg");

  /* Reference for Image: https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fphotos%2FF49x0Vct5Lo&psig=AOvVaw3pkjAFbP8GerdNH9r6RUK8&ust=1604097481909000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMD3voLv2uwCFQAAAAAdAAAAABAJ */

	background-size: cover;
  padding-top: .05%;
}

.header h1{
  padding-top: 7%;
  font-size: 48px;
  letter-spacing: 1,5px;
  color: rgb(245, 233, 233);
  text-shadow: grey 2px 2px;

}
.topcontent{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.Firstname{
  border-radius: 3px;
  width: 20%;
  padding: 10px 20px;
  padding-left: 5px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 9px;
  font-size: 18px;
}
.Firstname:Focus{
  border: 3px solid #555;
}
.Lastname{
  border-radius: 3px;
  width: 20%;
  padding: 10px 20px;
  padding-left: 5px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 9px;
  font-size: 18px;
}
.Lastname:Focus{
  border: 3px solid #555;
}
.Phonenumber{
  border-radius: 3px;
  width: 20%;
  padding: 10px 20px;
  padding-left: 5px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 9px;
  font-size: 18px;
}
.Phonenumber:Focus{
  border: 3px solid #555;
}
.Email{
  border-radius: 3px;
  width: 20%;
  padding: 10px 20px;
  padding-left: 5px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 9px;
  font-size: 18px;
}
.Email:Focus{
  border: 3px solid #555;
}
textarea {
  width: 300px;
  height: 150px;
  padding-left: 5px;
  padding-top: 5px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 9px;
  background-color: #f8f8f8;
  resize: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
textarea:Focus{
  border: 3px solid #555;
}
.Submit{
  padding: 3px;
  margin: 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 9px;
  font-size: 26px;
}
.Submit:Focus{
  border: 3px solid #555;
}
.Paragraph{
  font-size: 18px;
}
.footer{
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}
