body{
  margin-top: 200px;
}
.SearchEvent{
    margin-left: 206px;
    margin-top: 72px;
    position: fixed;
}
.SelectCatergory{
    margin-left: 554px;
    margin-top: 72px;
    position: fixed;

}
.SearchByLocation{
    margin-left: 902px;
    margin-top: 72px;
    position: fixed;
}

.Event-Search-bar1{
    width: 20%;
    padding: 10px 20px;
    padding-left: 5px;
    margin-left: 200px;
    margin-top: 99px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 9px;
    font-size: 18px;
    position: fixed;

}
.Event-Search-bar1:Focus{
  border: 3px solid #555;
}
.Select-Catergory-bar1{
    width: 20%;
    padding: 12px 20px;
    padding-left: 5px;
    margin-left: 550px;
    margin-top: 99px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 9px;
    font-size: 18px;
    position: fixed;
}
.Select-Catergory-bar1:Focus{
    border: 3px solid #555;
}
.Search-By-Location-bar1{
    width: 20%;
    padding: 12px 20px;
    padding-left: 5px;
    margin-left: 900px;
    margin-top: 99px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 9px;
    font-size: 18px;
    position: fixed;
}
.Search-By-Location-bar1:Focus{
    border: 3px solid #555;
}
