body{
  background-color: white;
  margin: 0;
}
.menu{
  width: 100%;
  background: black;
  overflow: auto;
}
.menu a:hover{
  background-color: white;
  color: black;
}
.menu ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  line-height: 35px;
  float: left;
}
.menu ul li{
  float: left;
  list-style: none;
  color: white;
}
.menu ul li a{
  background: black;
  text-decoration: none;
  width: 140px;
  display: block;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: Arial;
  letter-spacing: 0.5px;
  padding: 22px 14px;
}
.menu ul li ul{
  display: none;
  position: absolute;
  background-color: black;
  padding: 0px;
  border-radius: 0px 0px 5px 5px;
  color: white;
}
.menu ul li:hover ul{
  display: grid;
}
.menu ul li ul li{
  width: 100%;
  border-radius: 4px;
  color: white;
}
.menu ul li ul li a:hover{
  background-color: white;
  color: black;
}
.search-form{
  margin-top: 20px;
  float: right;
  margin-right: 100px;
}
input[type=text]{
  padding: 7px;
  border: none;
  font-size: 16px;
  font-family: Arial;
}
button{
  float: right;
  background: Blue;
  color: white;
  border-radius: 0 5px 5px 0
  cursor: pointer;
  postion: relative;
  padding: 8.3px;
  font-family: Arial;
  border: none;
  font-size: 16px;
}
