body {
  text-align: center;
  background-color: rgba(250, 216, 216,);
  overflow-x: hidden;
}
.header{
	width: 100%;
	height: 300px;
	background-position: center center;
	background-image: url("BikesOS\\harley-davidson-flstf-fat-boy-1990-moto.jpeg");

  /* Reference for Image: BikesOS\\harley-davidson-flstf-fat-boy-1990-moto.jpeg */
  
	background-size: cover;
  padding-top: .05%;
  top: 300px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  margin: 0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
.footer{
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
}
