*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: white;
  font-family: arial;
}
/* Navigation Search Bar*/
nav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 11px;
  font-size: 17px;
  position: relative;
  left : 431px;
  bottom: -3.5px;
  color: black;
}
nav button{
  float: right;
  width: 5%;
  padding: 8px;
  background: black;
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  position:relative;
  left: 482px;
  bottom: 34px;

}
nav button:hover {
  background: #0b7dda;
}
/*Navigation Search Bar*/
/*Navigation Bar*/
nav{
  background-color: black;
  width: 100%;
  height: 64px;
  color: white;
}
nav a:hover {
  background-color: black;
  color: white;
}
nav ul {
  float: left;
  color: white;

}
nav ul li {
  float: left;
  list-style: none;
  position: relative;
  color: white;
}
nav ul li a {
  display: block;
  color: white;
  font-size: 14px;
  padding: 22px 14px;
  text-decoration: none;
}
nav ul li ul {
  display: none;
  position: absolute;
  background-color: black;
  padding: 5px;
  border-radius: 0px 0px 6px 6px;
  color: white;

}
nav ul li:hover ul {
  display: block;
}
nav ul li ul li{
  width: 180px;
  border-radius: 4px;
  color: white;
}
nav ul li ul li a:hover{
  background-color: white;
  color: black;
}
/* Navigation */
